.SliderComponent{
display: grid;
grid-template-columns: repeat(16, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
border: 2px solid red;
}

.fix-content{
    display: grid;
    align-items: center;
    text-align: left;

    grid-area: 1 / 3 / 2 / 8;
    border: 2px solid red;
   
}
.fix-content h1{
padding:2px 0px 0px 0px;
font-size: 63px;
font-family: 'Montserrat',sans-serif;
font-weight: 500;
color:#011A3E;
}
.fix-content span{
   color: #FEB000;
   font-weight: 625;
   
}
.fix-content h5{
    padding:10px 0px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 100;
    font-size: 22px;
    color:#011A3E;
}
.fix-content p{
    padding:10px 0px;
    color:#7A808E;
    font-family: 'Poppins',sans-serif;
    font-size: 17px;
    line-height: 1.5;
}
.fix-content button{
    margin:15px 0px;
}

.variable-images{
    grid-area: 1 / 8 / 2 / 15;
    border: 2px solid red;
    display: grid;
    text-align: left;
}
.three-dots{grid-area: 2 / 1 / 3 / 17;}